@import url("https://fonts.googleapis.com/css2?family=Cairo+Play&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play&family=Covered+By+Your+Grace&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo+Play&family=Covered+By+Your+Grace&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cairo+Play&family=Covered+By+Your+Grace&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Quantico:ital,wght@1,700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");

#root {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.App {
  display: flex;
}

.active {
  color: #34d5b0;
}

.screen {
  stroke-width: 10px;
  stroke: red;
}

.tech_stck {
  display: inline;
}

.card {
  display: flex;
  width: max-content;
  overflow-x: scroll;
  margin-top: 5vh;
}

.card-in {
  width: 60vw;
  height: 30vw;
  border: 1px solid red;
}

.icons:hover {
  color: #34d5b0;
}

.projects_ {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #64ffdb;
  font-family: "Rajdhani", sans-serif;
  font-family: "Quantico", sans-serif;
  font-style: italic;
}

.span {
  color: #f58045;
  background-color: white;
  padding: 0 1rem;
  font-family: "Rajdhani";
}

a {
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 480px) {
  #navbar {
    display: none;
  }

  #project_card {
    margin-right: 3rem;
    margin-left: 10vw;
  }

  .cardBody {
    width: 90vw;
  }
}

@media (min-width: 481px) {
  #drawer-btn {
    display: none;
  }
}
